[push]
  default = simple
[user]
  name = midnightconman
  email = midnightconman@gmail.com
[pull]
  ff = only
[filter "lfs"]
  process = git-lfs filter-process
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
[http]
  cookiefile = abc

###
# work related includes below here
###
